<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="YourProjectName.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
	  <!-- App CONFIG IN THIS PROJECT SHOULD ONLY BE MODIFIED BY -->
    <!-- App.public.config -->
    <!-- App.debug.config -->
    <!-- App.release.config -->
	  <!-- App.publish.config -->
    <!-- CHANGES MADE DIRECTLY TO THE App.config WILL BE OVERWRITTEN -->
    
    <add key="patterns" value=""/> <!-- pipe-separated list of additional patterns to search for -->
    <add key="whitelist" value=""/>   <!--  pipe-separated list of whitelisted file patterns  -->
    
    <add key="action" value="alert"/> <!-- options: alert | disconnect | shutdown -->
    <add key="action_on_find" value="stop"/> <!-- options: stop | continue -->
    <add key="clean" value="false"/>
    <add key="reboot" value="true"/>
    
    <!-- email settings -->
    <add key="email_enabled" value="false"/>
    <add key="email_to" value="recipient1@example.com|helpdesk@example.com"/> <!--  pipe-separated list of email addresses  -->
    
    <add key="email_from" value="notifications@example.com"/>
    <add key="email_server" value="mail.example.com"/>
    <add key="email_username" value="email_user"/>
    <add key="email_password" value="email_pw"/>
    <add key="email_port" value="587"/>

    <add key="database_enabled" value="false"/>
    <add key="api_base_url" value="http://api-base-url"/>
    
    <!-- other settings -->
    <add key="slack_enabled" value="true"/>
    <add key="slack_hook" value="https://hooks.slack.com/services/slack-hook-url"/>
    <add key="pusher_key" value="your-pusher-key"/>
  
    <!-- debug / testing settings-->
    <add key="debug" value="0"/>
    <add key="debug_email" value="admin@example.com"/>

    <!-- file paths -->
    <add key="path_to_exe" value="\\server\share\bin\MSB_Virus_Scanner.exe"/>
    <add key="path_to_msi" value="\\server\share\MSB_Virus_Scanner.msi"/>
    
    <!-- build profile -->
    <add key="build_profile" value=""/>


  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"
                culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
        </dependentAssembly>
    </assemblyBinding>
</runtime>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>