<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- App CONFIG IN THIS PROJECT SHOULD ONLY BE MODIFIED BY -->
    <!-- App.public.config -->
    <!-- App.debug.config -->
    <!-- App.release.config -->
    <!-- CHANGES MADE DIRECTLY TO THE App.config WILL BE OVERWRITTEN -->
    
    <add key="patterns" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!-- pipe-separated list of additional patterns to search for -->
    <add key="whitelist" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!--  pipe-separated list of whitelisted file patterns  -->

    <add key="action" value="alert" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!-- options: alert | disconnect | shutdown -->
    <add key="action_on_find" value="stop"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!-- options: stop | continue -->

    <!-- email settings -->
    <add key="email_enabled" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="email_to" value="recipient1@example.com|helpdesk@example.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!--  pipe-separated list of email addresses  -->

    <add key="email_from" value="notifications@example.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="email_server" value="mail.example.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="email_username" value="email_user" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="email_password" value="email_pw" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="email_port" value="587" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>

    <add key="database_enabled" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="database_server" value="db_server" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="database_name" value="db_name" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="database_username" value="db_user" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="database_password" value="db_pass" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>

    <!-- other settings -->
    <add key="slack_enabled" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="slack_hook" value="https://hooks.slack.com/services/slack-hook-url" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>

    <!-- debug / testing settings-->
    <add key="debug" value="0" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="debug_email" value="admin@example.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>

  </appSettings>
</configuration>